<h1>Add Comment</h1>

<%= form_with scope: :comment, url:  user_post_comments_path, local: true do |form|  %>
  <p>
  	<%= form.label :text %> <br>
  	<%= form.text_area :text %>
  </p>
  <p>
  	<%= form.submit "Add Comment" %>
  </p>
<% end %>