<div style="border: solid 5px black; 
						display: flex; 
						justify-content: space-between; 
						padding: 2%;
						margin: 1%">
	<h1><%= @post.title %> By <%= @author.name %></h1>
	<h4></h4>
</div>